@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav, main,footer{
    width: 100%
}
header{
    background-color:#00108B;
    color:#FBE6E6;
    height: auto;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
nav{
    padding: 50px;
    background-color:#A5B0FF;
    color:#000849;
    font-weight: bold;
}
nav ul{
    display: flex;
}
nav ul li{
    width: 150px;
    list-style-type: none;
}
main{
    display: flex;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
}
main section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:#FBE6E6;
    padding: 20px;
    height: auto;
   
}

footer{
    background-color:#00108B;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: aliceblue;
}

.contenedor-flexible{
    background-color: #ED756E;
    display:flex;
    }

.contenedor-flexible > div, .contenedor-flexible-1 > div, .contenedor-flexible-2 > div, .contenedor-flexible-3 > div, .contenedor-flexible-4 > div, .contenedor-flexible-5 > div, .contenedor-flexible-6 > div, .contenedor-flexible-7 > div {
    background-color:#FDD4C6;
    width: 400px;
    height: 50px;
    margin: 10px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
   }
.contenedor-flexible-1 div{
    width: 30%;
    }
.contenedor-flexible-3 div{
    width: 20%;
    }
.contenedor-flexible-4 div{
    width: auto;
    }
.contenedor-flexible-5 div{
    width: 100px;
    height: auto;
    }
.contenedor-flexible div{
    width: 100px;
    }
.contenedor-flexible-6 div{
    width: 100px;
    }
.contenedor-flexible-7 div{
    width: 200px;
    height: 200px;
    }

.contenedor-flexible-1{
    background-color: #ED756E;
    display:flex;
   flex-direction:column-reverse;
   }
.contenedor-flexible-2{
    background-color: #ED756E;
    display:flex;
    flex-wrap: wrap;
   }
.contenedor-flexible-3{
    background-color: #ED756E;
    display:flex;
    justify-content:space-between;
   }
.contenedor-flexible-4{
    background-color: #ED756E;
    display:flex;
    height: 400px;
    align-items:flex-end;
   }
.contenedor-flexible-5{
    background-color: #ED756E;
    display:flex;
    height:300px;
    align-items: baseline;
   }
.contenedor-flexible-6{
    background-color: #ED756E;
    display:flex;
    height:800px;
    flex-wrap: wrap;
    align-content: stretch;
   }
.contenedor-flexible-7{
    background-color: #ED756E;
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    }
