@charset "utf-8";
/* CSS Document */
p{
	font-size: 12px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
div{
	width:auto;
	height: auto;
	background: #EDD0DF;
}
h1{
	color:#4A1553;
	font-size: 80px;
	font-weight: 100px;
	font-family: Dancing Script, cursive;
	text-align: left;
	text-decoration: underline;
	text-decoration-color: #BD175F;
	
	}
h2{
	color:#2D3273;
	font-size: 50px;		
	font-family: Vollkorn, serif;
	text-align:right;
	text-shadow: 0px 3px 5px gray
	}
h3{
	color:#A31E82;
	font-size: 20px;
	font-weight: 300px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align:justify;
	
}
h4{
	color:#A31E82;
	font-size: 54px;
	font-weight: 100px;
	font-family: Josefin Slab, serif;
	text-align:right;
	text-decoration: underline;
	text-decoration-color: aqua;
	
}
h5{
	color:#0B4B12;
	font-size: 120px;
	font-family: Grenze Gotisch, cursive;
	text-align:center;
	text-decoration: underline;
	text-decoration-color:#28DB1D;
	
}